@charset "UTF-8";

body{
  font-family: "Noto Sans JP L",sans-serif;
  line-height: 1.7;
  color: #000
}
a{
	color: #000;
  text-decoration: none;
}

p{
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 10px;
}

li{
  list-style-type: none;
}

h2{
  font-family: "Agency FB";
  text-transform: uppercase;  /*すべての文字を大文字にする*/
  font-size: 60px;
  text-align: center;
  margin-bottom: 0;
}

h3{
  font-family: "Noto Sans JP M";
  font-size: 22px;
}

strong{
  font-family: "Noto Sans JP M";
  background: linear-gradient(transparent 85%, #ccc 80%);
}

/*-----------------------------------------------------------*/

.mainContainer{
  display: flex;
  flex-direction: row;
}


#map {
  width: 70%; 
  height: 1000px;
}

#keiro{
  width: 30%;
  background-color: #fff4d8;
}

.keiroDisplay{
  padding: 3%;
}

#Button_Get{
  background-color: aqua;
  text-align: center;
  width: 70px;
  height: 40px;
}



/*-----------------------------------------------------------*/

div.leaflet-popup{
  width: 290px;
  padding: 0;
}
div.leaflet-popup-content-wrapper,div.leaflet-popup-tip{
  background-color: #ffdf76;
}
a.leaflet-popup-close-button{
  width: 20px;
  color: rgb(255, 123, 0) !important;
}

.popup-title{
  font-size: 2em;
}

.popup-img{
  width: 100%;
}

.keiro-title{
  font-size: 1.8em;
  font-weight: bold;
  background-color: #3b602d;
  border-radius: 5px;
  color: #fbe9a9;
  padding: 8px 5px 5px 5px;
  text-align: center;
}

.keiro-content{
  margin: 20px 0;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0 0 10px 0;
  box-shadow: 6px 6px 0 1px #e97e7ab2;
}

.keiro-label{
  display: inline-block; 
}

.blank{
  padding: 10px;
}




/*メディアクエリ
-------------------------------------------------------------------------------*/
/*スマホ・タブレット用配置*/
@media screen and (max-width: 900px){
  
.mainContainer{
  display: flex;
  flex-direction: column;
}

div.leaflet-popup{
  width: 200px;
}

.popup-title{
  font-size: 1.8em;
}



#map {
  width: 100%; 
  height: 500px;
}

#keiro{
  width: 100%;
  background-color: #fff4d8;
}


}
