@charset "UTF-8";

body{
  font-family: "Noto Sans JP L",sans-serif;
  color: #000
}
a{
	color: #000;
  text-decoration: none;
}

p{
  font-size: 2em;
}

li{
  list-style-type: none;
}

h2{
  font-family: "Agency FB";
  text-transform: uppercase;  /*すべての文字を大文字にする*/
  font-size: 60px;
  text-align: center;
  margin-bottom: 0;
}

h3{
  font-family: "Noto Sans JP M";
  font-size: 22px;
}

strong{
  font-family: "Noto Sans JP M";
  background: linear-gradient(transparent 85%, #ccc 80%);
}

/*-----------------------------------------------------------*/

body{
  padding-top: 30px;
  background-color: #fff4d8;
}
.inputWrapper{
  margin: 60px 8%;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3b602d;
  border-radius: 8px;
}
.inputIcn{
  font-weight: bold;
  font-size: 0.8em;
  margin-right: 30px;
  padding-left: 20px;
  writing-mode: vertical-rl;
  color: #fbe9a9;
}
.inputCar{
  font-weight: bold;
  font-size: 1.3em;
  color: #fbe9a9;
}

.search{
  font-weight: bold;
  font-size: 3em;
  background-color: #3b602d;
  border-radius: 8px;
  color: #fbe9a9;
  text-align: center;
  margin: 20px 8%;
}
.search:hover{
  background-color: #80b16e;
}
.search a{
  color: #e97d7a;
}
.searchLink{
  width: 100%;
  height: 100%;
  display: block;
}